.main-contents {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid #C0C0C0;

  h2 {
    text-align: center;
    font-weight: normal;
    font-size: 25px;
  }
}

table {
  margin-right: auto;
  margin-left: auto;
  border-collapse: collapse;

  /*隣り合ったtableセルのborder-lineを重ね合わせる*/
  border-spacing: 0;

  /*隣り合ったtableセルの間隔を指定、初期値0*/
}

.koumoku {
  width: 80%;

  th {
    font-weight: normal;
    border-bottom: 1px solid #C0C0C0;
  }

  td {
    border-bottom: 1px solid #C0C0C0;
  }
}

.basket-num {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.basket-img {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

img {
  width: 50%;
  height: 50%;
}

.quantity-wrap {
  margin-left: 0;
  margin-right: 0;
  display: center;

  /*未　横並びに修正が必要、数量、値段もcss修正必要*/
}

.btn-s {
  /*未　修正、削除ボタンのcss決める*/
  display: inline-block;
  width: 30px;
}

.btn-wrap {
  width: 80%;
}

.btn-wrap-back {
  float: left;
}

.btn-wrap-order {
  float: right;
}

.btn {
  display: inline-block;
  width: 185px;
  color: #fff;
  background-color: #808080;
  text-align: center;
  text-decoration: none;
  line-height: 50px;

  /*文字の上下余白*/
  margin-top: 20px;
  border-radius: 5px;

  /*ボタンの角を丸くする*/

  &:hover {
    background-color: #000;
    color: #fff;
    transition: 1s;

    /*色変わる時間*/
  }
}